div.button {
    button {
        width: 100%;
    }
}

div.footer {
    display: flex;
    justify-content: center;
    button {
        min-width: 25%;
    }
}

div.over-footer {
    display: flex;
    justify-content: center;
    div.input-group {
        max-width: 25%;
        input {
            text-align: center;
        }
    }
}

div.over-footer-title {
    text-align: center;
}

div.container-fluid.stopped {
    background-image: url("../img/bg_home..jpg");
    min-height: 800px;
    background-size: cover;
}

@font-face {
    font-family: "celtic_hand";
    src: url('../font/CelticHand.ttf');
}

h1 {
    font-family: "celtic_hand";
    font-size: 5em;
    color : rgb(41, 111, 216);
    box-shadow: 2em;
}